@import url("theme.css");

body {
  margin: 0;
  font-family: Arial;
  background: var(--dark);
  color: var(--text);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: linear-gradient(90deg, var(--pink), var(--purple));
}

.center {
  font-size: 22px;
  font-weight: bold;
}

/* SEARCH */
.search {
  padding: 10px;
}

.search input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BLOCKS */
.block {
  margin: 10px;
  padding: 15px;
  background: var(--card);
  border-radius: 10px;
}
